@model IEnumerable<preparation.Models.Account.User>

@{
    Layout = "_Layout";
}

@section navbar{

}

@section footer
    {

}

<h2>List of users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Condition access</a>
            </td>
        </tr>
    }
</table>