@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@section css
    {
    <style>
        .small-footer {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .small-content {
            background-color: aqua;
            padding-top: 10rem;
            padding-bottom: 1rem;
        }
    </style>
}*@

<div class="footer bg-secondary">
    <div class="container-fluid small-footer">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse bd-highlight">
                <div class="text-right small-content">
                        <a class="" href="#">Privacy</a>
                        <a class="" href="#">Terms</a>
                        © 2017-2018 Company, Inc. ·
                        Zhiburt Maxim
                </div>
            </div>
        </div>
    </div>
</div>