@model preparation.ViewModels.Account.UserLoginViewModel

<li class="nav-item dropdown list-unstyled">
    <a class="bell dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-sign-in text-info"></i></a>

    <div class="dropdown-menu">
        <form class="px-4 py-3" asp-controller="Account" asp-action="Login" asp-for-returnUrl="">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" placeholder="email">
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" placeholder="password">
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">New around here? Sign up</a>
        <a class="dropdown-item" href="#">Forgot password?</a>
    </div>
</li>