@using preparation.ViewModels.Supplier
@model int
<a asp-action="DeleteProduct" asp-route-deleteIndex="@( Model - 1 )"><i class="fa fa-trash text-warning"></i></a>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
