@using preparation.ViewModels.Supplier
@model preparation.ViewModels.Supplier.AddPreparationViewModel

@{
    Layout = "_Layout";
}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img width="48" height="48" class="mr-3" alt="" src="~/images/home/307609.svg">
    <div class="text-secondary">
        <h6 class="mb-0 ">Health</h6>
        <small>Since 2018</small>
    </div>
</div>

<div>
    @await Html.PartialAsync("_Companys", null, ViewData)
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-12" order-md-1">
                <form method="post" asp-action="AddPreparation">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="col col-12 col-md-12">
                            <label asp-for="ActiveIngredient"></label>
                            <input class="form-control" asp-for="ActiveIngredient">
                            <span asp-validation-for="ActiveIngredient"></span>
                        </div>
                        <div class="col col-12 col-md-12">
                            <label asp-for="Description"></label>
                            <input class="form-control" asp-for="Description">
                            <span asp-validation-for="Description"></span>
                        </div>
                        <div class="col col-12 col-md-12">
                            <label asp-for="Type"></label>
                            <select class="form-control" asp-for="Type"
                                    asp-items="new SelectList(Enum.GetNames(typeof(TypePreparation)))">
                            </select>
                            <span asp-validation-for="Type"></span>
                        </div>
                        <div class="col col-12 col-md-12">
                            <label asp-for="ImageURL"></label>
                            <input class="form-control" asp-for="ImageURL">
                            <span asp-validation-for="ImageURL"></span>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section footer
    {
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
}