@model preparation.ViewModels.Supplier.ResultViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add product";
}

@section navbar
    {

}


<div class="container">
    <div class="py-5 text-center">
        <img width="200" height="400" class="d-block mx-auto mb-4" alt="" src="~/images/logo/logo_v2.svg">
        <h2>Company Controll</h2>

        <div class="btn-group m-1" role="group" aria-label="Basic example">
            <button class="btn btn-success item"><a class="text-black-50" asp-action="AddProduct">Add Product</a></button>
            <button class="btn btn-success item"><a class="text-black-50" asp-action="СhangeProduct">Change Product</a></button>
            <button class="btn btn-success item"><a class="text-black-50" asp-action="AddPreparation">Add Preparation</a></button>
        </div>
        <p class="lead">....</p>
    </div>
</div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

@section footer
    {

}
